<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="motorCtrl">


    <div class="content" animate-panel>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-heading">
                                <i class=" fa glyphicon glyphicon-edit icon_front"></i>
                                <span class="titulo">Motor </span>
                            </div>
                            <div class="panel-body">
                                <form method="get" class="form-horizontal">
                                    <div class="col-lg-4 col-xs-12 padding">
                                        <label for="date">Fecha:</label>
                                        <input type="date" class="form-control" ng-model="fecha" >
                                    </div>
                                    <div class="col-lg-4 col-xs-12 padding">
                                        <label for="date">Capacidad:</label>
                                        <input type="number" class="form-control" ng-model="cant_adultos" >
                                    </div>
                                    <div class="col-lg-4  padding text-left">
                                        <button class="btn btn-primary btn_motor_busqueda" 
                                                type="submit" 
                                                ng-click="buscarViaje()" >
                                            Buscar
                                        </button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="hpanel">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group buscador">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Buscar viaje" ng-model="buscador">
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive">

                            <table cellpadding="1" cellspacing="1" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Fecha del viaje</th>
                                        <th>Destino</th>
                                        <th>Descripcion</th>
                                        <th>Precio</th>
                                        <th>Reservar</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="viaje in busqueda.viajes|filter:buscador|orderBy:tipoOrden">
                                        <td>{{viaje.fecha_reserva}}</td>
                                        <td>{{viaje.destino.nombre}}</td>
                                        <td>{{viaje.destino.descripcion}}</td>
                                        <td>{{viaje.destino.precio}}</td>
                                        <td> <button type="button" class="btn btn-success btn-xs" ng-click="reservar(viaje.id, busqueda.cant_pasajeros)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Reservar</button></td> 

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="panel-footer">
                        Lista de  Viajes
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>



</div>

