<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="navesCtrl">


    <div class="content" animate-panel>
            <div class="row">
    <div class="col-lg-8">
        <div class="hpanel">
            <div class="panel-heading">
                <i class=" fa fa-ship icon_front"></i> {{mensaje}}               
                <span class="titulo">Naves </span><button class="btn btn-primary" ng-click="open3('lg')">Large Modal</button>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-8">
                <div class="input-group buscador">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
                    </div>
                    <input class="form-control" type="text" placeholder="Buscar usuario" ng-model="buscador">
                </div>
                </div>
                <div class="col-lg-4 text-right">
                 <button type="button" class="btn btn-default btn-xs"  data-toggle="modal" data-target="#modal_user"> </span> Agregar</button>

                </div>
            </div>
           
       
                <div class="table-responsive">

                    <table cellpadding="1" cellspacing="1" class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Eslora</th>
                            <th>Marca</th>
                            <th>Detalle</th>
                            <th>Eliminar</th>
                           
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="nave in test.naves|filter:buscador|orderBy:tipoOrden">
                                
                                <td>{{nave.nombre}}</td>
                                <td>{{nave.eslora}}</td>
                                <td>{{nave.marca}}</td>
                                <td><button type="button" class="btn btn-info btn-xs" ng-click="detalleNave(nave.nombre)"><span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</button></td>
                                <td> <button type="button" class="btn btn-danger btn-xs" ng-click="eliminar(nave.id)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Eliminar</button></td> 
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="panel-footer">
               Lista de  Rutas
            </div>
        </div>
    </div>
      <div class="col-md-4">
        <div class="hpanel blog-box hgreen" ng-repeat="b in nave">
            <div class="panel-heading">
                <div class="media clearfix">
                    <a class="pull-left">
                        <img src="images/a3.jpg" alt="profile-picture">
                    </a>
                    <div class="media-body">
                        <small><span class="font-bold">{{b.nombre}}</span> Capacidad {{b.pax}} </small>
                        <br/>
                        <small class="text-muted"> {{b.modelo}} </small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <strong><h4>Datos Basicos</h4></strong> 
                <div class="row">
                   
                      <div class="col-lg-6">
                        <strong> Marca: </strong>
                        <spam> {{b.marca}} </spam>
                      </div>
                      <div class="col-lg-6">
                        <strong> Potencia: </strong>
                        <spam> {{b.potencia}} </spam> <br>
                      </div>
                      <div class="col-lg-6">
                        <strong> Modelo: </strong>
                        <spam> {{b.modelo}} </spam> <br>
                      </div>
                      <div class="col-lg-6">
                        <strong> No. Motor: </strong>
                        <spam> {{b.cant_motores}} </spam> <br>
                      </div>
                      <div class="col-lg-6">
                        <strong> Color: </strong>
                        <spam> {{b.color}}  </spam> <br>
                      </div>
                      <div class="col-lg-6">
                        <strong> Capacidad: </strong>
                        <spam> {{b.pax}}  </spam> <br>
                      </div>
                         <div class="col-lg-6">
                        <strong> Eslora: </strong>
                        <spam>  {{b.eslora}} </spam> <br>
                      </div>
                      <div class="col-lg-6">
                        <strong> Matricula: </strong>
                        <spam> {{b.matricula}} </spam> <br>
                      </div>
                      <div class="col-lg-6">
                        <strong> Sonido: </strong>
                        <spam> {{b.sonido}} </spam> <br>
                      </div>
                      <div class="col-lg-6">
                        <strong> Nevera: </strong>
                        <spam> {{b.nevera}} </spam> <br>
                      </div>
                      <div class="col-lg-6">
                        <strong> Chalecos: </strong>
                        <spam> {{b.chalecos}}  </spam> <br>
                      </div>
                </div>
               
                
            </div>
            
            <div class="panel-footer">  
                <i class="fa fa-eye"> </i> Detalle Nave
            </div>
        </div>
    </div>







</div>

<div class="modal fade" id="modal_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog modal-max" role="document">
    <div class="modal-content">
    <form method="get" class="form-horizontal" ng-submit="agregar()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crear Nave</h4>
      </div>
      <div class="modal-body">
         <div class="hpanel">
                    <div class="panel-heading">
                       
                    </div>
                   
                    

                    <div class="row form_modal">
                      <div class="row">
                            <legend>Datos Basicos</legend>
                            <div class="col-lg-4">
                                <label for="">Nombre</label>
                                <input type="text" class="form-control" ng-model="nombre" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Matricula</label>
                                <input type="text" class="form-control" ng-model="matricula" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Pax</label>
                                <input type="number" class="form-control"ng-model="pax"  >
                            </div>
                            <div class="col-lg-4">
                                <label for="">descripción</label>
                                <input type="text" class="form-control"ng-model="descripcion"  >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Modelo</label>
                                <input type="text" class="form-control" ng-model="modelo" >
                            </div>
                             <div class="col-lg-4">
                                <label for="">Color</label>
                                <input type="text" class="form-control"ng-model="color" >
                            </div>
                             <div class="col-lg-4">
                                <label for="">Tipo</label>
                                <input type="text" class="form-control" ng-model="tipo" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Canttidad motores</label>
                                <input type="number" class="form-control" ng-model="cant_motores" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">potencia</label>
                                <input type="text" class="form-control" ng-model="potencia" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Marca</label>
                                <input type="text" class="form-control" ng-model="marca" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Eslora</label>
                                <input type="text" class="form-control" ng-model="eslora" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Combustible</label>
                                <input type="text" class="form-control" ng-model="combustible" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Chalecos</label>
                                <input type="number" class="form-control" ng-model="chalecos" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">radio VHFn</label>
                                <input type="number" class="form-control" ng-model="radio_vhf" >
                            </div>
                            <div class="col-lg-4">
                                <label for="">Nevera</label>
                                <input type="text" class="form-control" ng-model="nevera" >
                            </div>
                            <div class="col-lg-4">
                            <label for="">Carpa</label>
                                <input type="text" class="form-control" ng-model="carpa" >
                            </div>
                        <div class="col-lg-4">
                            <label for="">Sonido</label>
                            <input type="text" class="form-control" ng-model="sonido" >
                        </div>
                       
                           
                        </div>
                       

                      </div>

                     <div class="row">

                         <legend>Pilotos</legend>
                         <div class="col-lg-4">
                            <label for="">Nombre Piloto</label>
                            <input type="text" class="form-control" ng-model="nombre_piloto" >
                        </div>
                        <div class="col-lg-4">
                            <label for="">Licencia piloto</label>
                            <input type="text" class="form-control" ng-model="licencia_piloto" >
                        </div>
                        <div class="col-lg-4">
                            <label for="">Nombre Copiloto</label>
                            <input type="text" class="form-control" ng-model="nombre_copiloto" >
                        </div>
                        <div class="col-lg-4">
                            <label for="">Licencia Copiloto</label>
                            <input type="text" class="form-control" ng-model="licencia_copiloto" >
                        </div>
                    </div>
                     
                    
                     <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            
                        </div>
                    
                    </div>
            </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="submit" value="Agregar">Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </form>

    </div>
  </div>
</div>



    </div>


    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>



</div>



