<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="navesCtrl">


    <div class="content" animate-panel>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <i class=" fa glyphicon glyphicon-bell icon_front"></i>
                        <span class="titulo">Notificaciones </span>
                    </div>
                    <div class="panel-body">
                        NOTIFICACIONES
                        <ul>
                            <li>Notificar cuando este el cupo completo</li>
                            <li>Notificar primer reserva</li>
                            <li>Notificar Hora de cierre</li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                       Notificaciones
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>



</div>



