<div id="navigation">
    <div class="profile-picture">
        <a href="index.html">
            <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color">
           
           
            
            <div>
                
            </div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">v.1</span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="naves"> <span class="nav-label">Naves</span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="destinos"> <span class="nav-label">Destinos</span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="viajes"> <span class="nav-label">Viajes</span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="reservas"> <span class="nav-label">Reservas</span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="pasajeros"> <span class="nav-label">Pasajeros</span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="notificationes"> <span class="nav-label">Notificaciones</span> </a>
        </li>
       
       
    </ul>
</div>